.container {
  padding: 0 1rem;
}

.main {
  min-height: calc(100vh - 45px);
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .logo {
    width: 460px;
  }
}

.description {
  font-size: 1.25rem;
  text-transform: lowercase;
}
@media (min-width: 600px) {
  .description {
    font-size: 2rem;
  }
}

.withCursor {
  display: flex;
  align-items: center;
}

.cursor {
  background: hsla(156, 80%, 42%, 1);
  margin-left: 0.5rem;
  animation: blink 0.8s infinite;
  width: 0.85rem;
  height: 2rem;
  line-height: 1rem;
}

@keyframes blink {
  0% {
    background: hsla(156, 80%, 18%, 1);
  }
  50% {
    background: hsla(156, 80%, 42%, 1);
  }
  100% {
    background: hsla(156, 80%, 18%, 1);
  }
}

.social {
  display: grid;
  justify-items: center;
  margin-top: 64px;
}

.mailButton {
  display: grid;
  justify-items: center;
}
.mailButton svg {
  height: 32px;
  width: 32px;
}

.footer {
  padding: 1rem 0;
  font-size: 0.75rem;
  text-align: center;
}

.visuallyHidden {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin-top: -8px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-color-scheme: dark) {
}
